version: 2
updates:
  - package-ecosystem: gomod
    directory: "/"
    schedule:
      interval: weekly
      time: "01:00"
      timezone: Asia/Tokyo
    open-pull-requests-limit: 10
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
      time: "01:00"
      timezone: Asia/Tokyo
    groups:
      golang/x:
        patterns:
          - "golang.org/x/*"
      mackerelio:
        patterns:
          - "github.com/mackerelio/*"
      testlibs:
        patterns:
          - "github.com/elazarl/goproxy*"
          - "github.com/stretchr/testify"
