#!/usr/bin/make -f

%:
	dh $@

package=mackerel-check-plugins

override_dh_auto_install:
	dh_auto_install
	install -d -m 755 debian/${package}/usr/bin
	for i in aws-sqs-queue-size cert-file disk elasticsearch file-age file-size http jmx-jolokia load log mailq masterha memcached mysql ntpoffset postgresql procs redis solr ssh tcp uptime; do \
	    install -m755 debian/check-$$i debian/${package}/usr/bin; \
	done
	install -d -m 755 debian/${package}/usr/local/bin
	# put symlinks to /usr/local/bin for backward compatibility of following plugins
	for i in elasticsearch file-age file-size http jmx-jolokia load log mailq memcached mysql ntpoffset postgresql procs redis solr tcp uptime; \
	do \
	    ln -s ../../bin/check-$$i debian/${package}/usr/local/bin/check-$$i; \
	done

override_dh_usrlocal:
