#!/usr/bin/make -f

%:
	dh $@

package=mackerel-check-plugins

override_dh_auto_install:
	dh_auto_install
	install -d -m 755 debian/tmp/usr/bin
	for i in `cat ../config.json | jq -r '.plugins[]'`; do \
	    install -m755 debian/check-$$i debian/tmp/usr/bin; \
	done
	install -d -m 755 debian/tmp/usr/local/bin
	for i in `cat ../config.json | jq -r '.plugins[]'`; do \
	    ln -s ../../bin/check-$$i debian/tmp/usr/local/bin/check-$$i; \
	done

override_dh_usrlocal:

