Source: mackerel-check-plugins
Maintainer: Mackerel Developers <mackerel-developers@hatena.ne.jp>
Section: misc
Priority: optional
Build-Depends: debhelper
Standards-Version: 3.9.3

Package: mackerel-check-plugins
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: macekrel.io check plugins
 monitoring check plugins for https://mackerel.io
