---
name: test

on:
  push:
    branches:
      - master
    tags:
      - v*
  pull_request:
env:
  DEBIAN_FRONTEND: noninteractive
jobs:
  lint:
    uses: mackerelio/workflows/.github/workflows/go-lint.yml@52736435ff08612880b76fd6618ca82ae7bba420 # v1.8.0
  test:
    uses: mackerelio/workflows/.github/workflows/go-test.yml@52736435ff08612880b76fd6618ca82ae7bba420 # v1.8.0
    with:
      pre: |
        echo "GOTOOLCHAIN=auto" >> $GITHUB_ENV
  test-linux:
    uses: mackerelio/workflows/.github/workflows/setup-go-matrix.yml@52736435ff08612880b76fd6618ca82ae7bba420 # v1.8.0
    with:
      run: |
        export GOTOOLCHAIN=auto
        ./test.bash
        make testconvention
      os-versions: '["ubuntu-24.04"]'
  test-windows:
    uses: mackerelio/workflows/.github/workflows/setup-go-matrix.yml@52736435ff08612880b76fd6618ca82ae7bba420 # v1.8.0
    with:
      run: |
        export GOTOOLCHAIN=auto
        go build -o check-log/check-log.exe ./check-log
        go build -o check-procs/check-procs.exe ./check-procs
        go build -o check-windows-eventlog/check-windows-evenglog.exe ./check-windows-eventlog
        go build -o check-ntservice/check-ntservice.exe ./check-ntservice
        go build -o check-disk/check-disk.exe ./check-disk
        go build -o check-uptime/check-uptime.exe ./check-uptime
        go build -o check-tcp/check-tcp.exe ./check-tcp
        go build -o check-file-age/check-file-age.exe ./check-file-age
      os-versions: '["windows-2025"]'
  # TODO: use workflows repo
  build:
    needs: [test, test-linux]
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags/v')
    steps:
      - run: |
          sudo apt-get update
          sudo apt-get install -y rpm devscripts debhelper fakeroot crossbuild-essential-arm64 build-essential
          mkdir -p ~/rpmbuild/{BUILD,BUILDROOT,RPMS,SOURCES,SPECS,SRPMS}
      - uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: 1.24.x
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - run: make clean build rpm deb
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: linux-build-artifacts
          path: |
            ~/rpmbuild/RPMS/*/*.rpm
            packaging/*.deb
  # TODO: use workflows repo
  release:
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: linux-build-artifacts
          path: artifacts/
      - uses: mackerelio/staging-release-update-action@bc0e3a9f7bd0d890dc044592a798bc307bacc956 # v0.0.1
        if: github.ref == 'refs/heads/master'
        with:
          directory: artifacts/
          github-token: ${{ secrets.GITHUB_TOKEN }}
          tag: staging
      - uses: mackerelio/create-release-action@5af34070474b72efdb3f5057e50d2f3836453c56 # v0.0.4
        if: startsWith(github.ref, 'refs/tags/v')
        with:
          directory: artifacts/
          github-token: ${{ secrets.GITHUB_TOKEN }}
          tag-prefix: "refs/tags/v"
          bump-up-branch-prefix: "bump-version-"
      - uses: 8398a7/action-slack@77eaa4f1c608a7d68b38af4e3f739dcd8cba273e # v3.19.0
        with:
          status: ${{ job.status }}
          fields: repo,message,commit,action,eventName,ref,workflow,job,took
          username: go-check-plugins-release
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.MACKEREL_SLACK_WEBHOOK_URL }}
