---
name: test

on:
  push:
    branches:
      - master
    tags:
      - v*
  pull_request:
env:
  DEBIAN_FRONTEND: noninteractive
jobs:
  lint:
    uses: mackerelio/workflows/.github/workflows/go-lint.yml@v1.0.2
  test:
    uses: mackerelio/workflows/.github/workflows/go-test.yml@v1.0.2
  test-linux:
    uses: mackerelio/workflows/.github/workflows/setup-go-matrix.yml@v1.0.2
    with:
      run: |
        ./test.bash
        make testconvention
      os-versions: '["ubuntu-22.04"]'
  test-windows:
    uses: mackerelio/workflows/.github/workflows/setup-go-matrix.yml@v1.0.2
    with:
      run: |
        go build -o check-log/check-log.exe ./check-log
        go build -o check-procs/check-procs.exe ./check-procs
        go build -o check-windows-eventlog/check-windows-evenglog.exe ./check-windows-eventlog
        go build -o check-ntservice/check-ntservice.exe ./check-ntservice
        go build -o check-disk/check-disk.exe ./check-disk
        go build -o check-uptime/check-uptime.exe ./check-uptime
        go build -o check-tcp/check-tcp.exe ./check-tcp
        go build -o check-file-age/check-file-age.exe ./check-file-age
      os-versions: '["windows-2022"]'
  # TODO: use workflows repo
  build:
    needs: [test, test-linux]
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags/v')
    steps:
      - run: |
          sudo apt-get update
          sudo apt-get install -y rpm devscripts debhelper fakeroot crossbuild-essential-arm64
          mkdir -p ~/rpmbuild/{BUILD,BUILDROOT,RPMS,SOURCES,SPECS,SRPMS}
      - uses: actions/cache@v3
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - uses: actions/setup-go@v4
        with:
          go-version: 1.20.x
      - uses: actions/checkout@v3
      - run: make clean build rpm deb
      - uses: actions/upload-artifact@v3
        with:
          name: linux-build-artifacts
          path: |
            ~/rpmbuild/RPMS/*/*.rpm
            packaging/*.deb
  # TODO: use workflows repo
  release:
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: linux-build-artifacts
          path: artifacts/
      - uses: mackerelio/staging-release-update-action@main
        if: github.ref == 'refs/heads/master'
        with:
          directory: artifacts/
          github-token: ${{ secrets.GITHUB_TOKEN }}
          tag: staging
      - uses: mackerelio/create-release-action@main
        if: startsWith(github.ref, 'refs/tags/v')
        with:
          directory: artifacts/
          github-token: ${{ secrets.GITHUB_TOKEN }}
          tag-prefix: "refs/tags/v"
          bump-up-branch-prefix: "bump-version-"
      - uses: 8398a7/action-slack@v3
        with:
          status: ${{ job.status }}
          fields: repo,message,commit,action,eventName,ref,workflow,job,took
          username: go-check-plugins-release
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.MACKEREL_SLACK_WEBHOOK_URL }}
